.grid {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.grid canvas {
  border: 1px solid black;
  width: 100%;
}
.grid div {
  width: 3.73%;
  height: 2vh;
  border: 1px solid black;
}
.grid .alive {
  background-color: white;
}
.grid .dead {
  background-color: black;
}
